# ---- BEGIN ignore file without extension

# ignore all
*

# UN-ignore all with extension
!*.*

# UN-ignore all dirs
!*/

# ------ END ignore file without extension

# ignore .exe files
*.exe

# ignore .vscode dir
.vscode

# ignore .vscode dir
.vscode

# ignore all bin dirs at any level
bin/

# UN-ignore makefile
!makefile